@font-face {
  font-family: "iconfont"; /* Project id 3346120 */
  src: url('iconfont.woff2?t=1653110923306') format('woff2'),
       url('iconfont.woff?t=1653110923306') format('woff'),
       url('iconfont.ttf?t=1653110923306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuo:before {
  content: "\e632";
}

.icon-you:before {
  content: "\e633";
}

.icon-dianzan_huaban:before {
  content: "\e613";
}

.icon-quanbu:before {
  content: "\e629";
}

.icon-icon-arrow-left2:before {
  content: "\e664";
}

.icon-icon-arrow-right2:before {
  content: "\e667";
}

.icon-sousuo:before {
  content: "\e6d9";
}

